**.swp
**/tags
.vscode
**/.cache
**/__pycache__
**/dist
**/build
**/lib
**/*.egg-info
notebooks/*.pkl
notebooks/*.pt
notebooks/*.pdf
**/.ipynb_checkpoints
**/.DS_Store
*.out
**/stats
**/traces
**/runs
**/*.log
**/log
**/logdir
**/datasets
dataset

