**.swp
**/tags
.vscode

**/__pycache__
**/dist
**/build
**/lib
**/*.egg-info

.ipynb_checkpoints
*.out
**/stats
**/traces
**/runs
**/runs-archive
**/log
**/logdir
**/log-archive
**/datasets
dataset
baseline/dataset
baseline/cluster_gcn/cluster_gcn.pkl
Cici/*.log
